<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92186899-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92186899-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>handytec</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/academy-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/modernizr-custom.js"></script>
    <link id="favicon" rel="icon" href="/images/logos/handytec_icon_bk.ico" type="image/x-icon">
</head>

<body style="background-image: url(../images/logos/academy/back_404.png); background-size: cover;padding-top: 0px;">
    <!--------------------------- NavBar + Background Image + Texto Centrado -------------------------------------->
    <section style="min-height: 100vh;">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="padding-bottom: 10px;">

            <a href="/" class="navbar-left">
                <img src="../images/logos/academy/e-academy_logo.svg" height="65px">
            </a>
            <!-- boton tipo hamburguesa -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active" style="padding-right: 60px;">
                        <a class="navbar-brand" href="/#Cursos">
                            <img src="../images/logos/academy/cursos_icon.svg" width="65" height="65" alt="Cursos"
                                style="text-decoration-color: black" />
                            <span>Cursos</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="navbar-brand" href="/es/contacto-academy">
                            <img src="../images/logos/academy/plan_corporativo_icon.svg" width="65" height="65" alt="Plan"
                                style="text-decoration-color: black" />
                            <span>Plan Corporativo</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <button href="/es/contacto-academy" onclick="location.href = '/es/contacto-academy';" class="btn login-academy"
                            style="font-weight: bold">Iniciar Sesión</button>
                        <!-- añadir link para el inicio de sesion-->
                    </li>
                </ul>

            </div>
        </nav>
        <div class="not-found-header-img" style="min-height: 100vh;">
            <div class="notfound-center-main-text">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card text-center" style="color: #6b478e">
                                        <div class="card-body">
                                            <h2 class="card-title" style="font-size: 3em;">
                                                <span class="bold">404</span>
                                            </h2>
                                            <p class="card-text" style="padding:30px; text-align: center;">No
                                                encontramos lo que buscas, pero ¡no te desanimes! Sigue navegando o
                                                contáctanos
                                                directamente.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/navcolor.js"></script>
    <script>
        function openLink(link) {
            window.open(link);
        }
        function changeLink(link) {
            window.location.replace(link);
        }
    </script>
</body>

</html>