<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92186899-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92186899-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>handytec</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/handytec-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/modernizr-custom.js"></script>
    <link id="favicon" rel="icon" href="/images/logos/handytec_icon_bk.ico" type="image/x-icon">
</head>

<body>
    <!--------------------------- NavBar + Background Image + Texto Centrado -------------------------------------->
    <section style="min-height: 100vh;">
        <div class="not-found-header-img" style="min-height: 100vh;">
            <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-bottom: 15px;">
                <a href="/es" class="navbar-left">
                    <img src="/images/logos/handytec_logo_index.svg" height="39px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/es" onclick="location.href = '/es';">Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/es/nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/es/productos" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu" style="min-width: 75px;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="/es/productos#helio">helio.geo</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/productos#krypton">krypton.data</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/es/servicios" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
                            <div class="dropdown-menu" style="min-width: 75px;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#estrategiaDot8">Estrategia DOT8</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#BINewGen">BI Nueva Generación</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#analiticaAvanzada">Analítica Avanzada</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/academy">handytec Academy</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/es/contacto">Contacto</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a id="es-languaje-dropdown" class="nav-link dropdown-toggle" href="/es" id="navbarDropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                <img src="/images/flags/ES.png" alt="ES" /> ES</a>
                            <div id="en-languaje-dropdown" class="dropdown-menu" style="min-width: 75px;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="#" onclick="changeLink('/en')">
                                    <img src="/images/flags/US.png" alt="EN" /> EN</a>
                            </div>
                        </li>
                        <li class="search-form">
                            <form role="search" method="get" class="search" action="/es/buscar">
                                <input id="input-search" type="text" name="q" value="" class="search-input search_field_main" maxlength="50" placeholder="Buscar..">
                                <input id="search-btn" type="submit" class="search-trigger search_submit_main" style="width: 30px; height: 30px;">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="notfound-center-main-text">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h2 class="card-title" style="font-size: 3em;">
                                                <span class="bold">404</span>
                                            </h2>
                                            <p class="card-text" style="padding:30px; text-align: center;">No encontramos lo que buscas, pero ¡no te desanimes! Sigue navegando o contáctanos
                                                directamente.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/navcolor.js"></script>
    <script>
        function openLink(link) {
            window.open(link);
        }
        function changeLink(link) {
            window.location.replace(link);
        }
        var searchField = document.getElementById('input-search');
        var searchBtn = document.getElementById('search-btn');
        searchBtn.addEventListener('mouseover', function () {
            searchField.focus();
        });
    </script>
</body>

</html>