<div style="width:100%;font-family:'Century Gothic','Muli', sans-serif;">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h3>
                        <b>¡Tu mensaje ha sido enviado exitosamente!</b>
                    </h3>
                </center>
            </div>
        </div>
    </div>
    <br>
    <div style="width:100%;font-family:'Century Gothic','Muli', sans-serif;">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p>Un Consultor experto se contactará contigo muy pronto. Mientras recibes esta respuesta, te invitamos a que
                        visites nuestras redes sociales.
                    </p>
                </center>
            </div>
        </div>
    </div>
    
    <div style="font-family:'Century Gothic','Muli', sans-serif; display: block; text-align: center;padding-bottom: 25px;">
        <div class="row">
            <div class="col-md-12">
                    <img class="zoom" href="#" onclick="openLink('https://www.linkedin.com/company/handytec')" src="../images/logos/linkedin_active_logo.png" width="30" height="30" alt="LinkedIn"
                        style="cursor: pointer;display: inline-block;margin-left: 8px;margin-right: 8px;">
                    <img class="zoom" href="#" onclick="openLink('https://twitter.com/handytec')" src="../images/logos/twitter_active_logo.png" width="30" height="30" alt="Twitter" style="cursor: pointer;display: inline-block;margin-left: 8px;margin-right: 8px;">
                    <img class="zoom" href="#" onclick="openLink('https://www.facebook.com/handytec')" src="../images/logos/facebook_active_logo.png" width="30" height="30" alt="Facebook"
                        style="cursor: pointer;display: inline-block;margin-left: 8px;margin-right: 8px;">
            </div>
        </div>
    </div>