html,body{
    font-family:"Century Gothic","Muli", sans-serif !important;
}

.header-img{
    background-image: url('../images/backgrounds/back_index.jpg');
    background-color: #1D1D1B;
    background-size: cover;
}

.services-header-img{
    background-image: url('../images/backgrounds/back_services.jpg');
    background-color: #1D1D1B;
    background-size: cover;
}

.nosotros-header-img{
    background-image: url('../images/backgrounds/back_nosotros.jpg');
    background-color: #1D1D1B;
    background-size: cover;
}

.krypton-header-img{
    background-image: url('../images/backgrounds/back_helio_krypton.jpg');
    background-color: #1D1D1B;
    background-size: cover;
}

.academy-header-img{
    background-image: url('../images/backgrounds/back_academy.jpg');
    background-color:#1D1D1B;
    background-size: cover;
}

.productos-header-img{
    background-image: url('../images/backgrounds/back_productos.jpg');
    background-color: #1D1D1B;
    background-size: cover;
}

.heliogeo-header-img{
    background-image: url('../images/backgrounds/back_helio_krypton.jpg');
    background-color: #1D1D1B;
    background-size: cover;
}

.contact-header-img{
    background-color: #757575;
}

.allies-header-img{
    background-image: url('../images/backgrounds/back_aliados_mirror.jpg');
    background-color: #1D1D1B;
    background-size: cover;
}

.not-found-header-img{
    background-image: url('../images/backgrounds/back_index.jpg');
    background-color: #1D1D1B;
    background-size: cover;
}

.center-main-text{
    padding-top: 180px;
    padding-bottom: 310px;
}

.notfound-center-main-text{
    padding-top: 150px;
}

.servicios-center-main-text{
    padding-top: 180px;
    padding-bottom: 390px;
}

.nosotros-center-main-text{
    padding-top: 180px;
    padding-bottom: 160px;
}

.academy-center-main-text{
    padding-top: 180px;
    padding-bottom: 405px;
}

.contact-center-main-text{
    padding-top: 0px;
    padding-bottom: 0px;
}

.helio-center-main-text{
    padding-top: 170px;
    padding-bottom: 180px;
}

.krypton-center-main-text{
    padding-top: 170px;
    padding-bottom: 160px;
}

.productos-center-main-text{
    padding-top: 180px;
    padding-bottom: 390px;
}

.allies-center-main-text{
    padding-top: 180px;
    padding-bottom: 380px;
}

.footer-img{
    background-image: linear-gradient(#3C3C3B, #000000);
}

.navbar{
    background-color: transparent !important;
    padding-top: 25px;
    /*z-index: 99999;*/
    transition: all ease .5s;
}

#nav.shrink {
    transition: all ease .5s;
    background: rgba(0,0,0,0.9) !important;
  }

.navbar .nav-item:hover{
    background-color: #474747;
    color: black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
}

.navbar-left{
    padding-left: 30px;
    padding-top: 0px;
}

.navbar .nav-item a{
    color: white !important;
    font-family:"Century Gothic","Muli", sans-serif !important;
}

.navbar .dropdown-menu {
    background-color: #474747;
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 0px;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}

.dropdown-menu{
    top:95%;
}

.dropdown-item:hover, .dropdown-item:active{
    background-color: rgba(256,256,256,0.2);
}

.dropdown-item:focus {
    background-color:transparent;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar li{
    margin-left: 10px;
}

.bold{
    font-weight: bold;
}

.contact-text{
    color: #575756;
    font-weight: bold;
    text-align: left;
    font-size: .95em;
    padding-top: 9px;   
}

#message{
    resize: none;
}

.btn:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.99);
}

/* Search Form Styling and Animation*/

li.search-form{
    padding-top: 4px;
    padding-bottom: 10px;
    overflow:hidden;
    padding-right:0px !important;
}

form.search{
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    border-radius:15px;
    position:relative;
    background:#fff;
    overflow:visible;
    margin:0;padding:4px 15px;
    height:30px;
    background-color: rgba(256,256,256,0.16);
}

form.search .search-input{
    position:absolute;
    display:block;
    border:none;
    font-size:9px;
    font-size:.84rem;
    color:white;
    background-color: transparent;
}

form.search .search-input:focus{
    outline:none;
}

form.search .search-input::placeholder{
    color:rgba(256,256,256,0.6);
}

form.search .search-trigger{
    position:absolute;
    top:0px;
    right:0px;
    border:none;
    display:block;
    overflow:hidden;
    text-indent:-999px;
}

form.search .search-trigger{
    padding-top: 6px;
    background-image:url(../images/assets/search_icon.png);
    background-repeat:no-repeat;
    background-color:transparent;
    background-origin:content-box;
}

/*Settings of Search Animation only on Displays > 1025 */
@media (min-width: 992px){
    form.search{
        -webkit-transition-property:width;
        -moz-transition-property:width;
        -o-transition-property:width;
        transition-property:width;
        -webkit-transition-duration:300ms;
        -moz-transition-duration:300ms;
        -o-transition-duration:300ms;
        transition-duration:300ms;
        -webkit-transition: width 300ms 2s;
        -moz-transition: width 300ms 2s;
        -o-transition: width 300ms 2s;
        transition: width 300ms 2s;
        -webkit-transition-timing-function:ease-in-out;
        -moz-transition-timing-function:ease-in-out;
        -o-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out;
        top:0;
        right:0;
        width:30px;
        padding:0;
        overflow:visible}

    form.search .search-input{
        top:0;
        right:25px;
        height:30px;
        width:130px;
        padding-right:5px;
    }

   form.search.in-focus, form.search .search-input.in-focus{
        width:170px;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }

    .search-input, form.search.in-focus, form.search .search-input.in-focus{
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity:1;
        display:block;
    }

}

/* Styling Cards ----- Tamaño Global de las letras*/
.card {
    background-color: transparent !important;
    color: white;
    border: rgba(1,1,1,0);
}

.card-academy {
    background-color: #EAEAEA !important;
    color: #706F6F;
    border: rgba(1,1,1,1);
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 50px;
}

.card-academy .card-title-academy{
    color: #6B478E;
    font-weight: bold;
    text-align: center;
    font-size: 1.7em;
    padding-bottom: 10px;
}

.card-academy .card-body .card-academy-bold-text{
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 10px;
}

.card-academy .card-body .card-academy-text{
    font-size: 1.2em;
}

.card-academy .card-body .card-academy-text-list{
    font-size: 1.1em;
    margin-left: 18px;
}

.card-dot8{
    text-align: left;
}

.card-dot8 .card-body .card-dot8-bold-text{
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: #3C3C3B;
}

.card-dot8 .card-body .card-dot8-text{
    font-size: 1.2em;
    padding-left: 10px;
    color: #706F6F;
}

.card .card-body .card-text{
    font-size: 1.2em;
}

.card .card-body .card-title-dark{
    color: #3C3C3B;
    font-weight: bold;
    font-size: 2em;
}

.card .card-body .card-text-dark{
    color: #706F6F;
    font-size: 1.2em;
}

.card .card-body .card-bold-minititle-text-dark{
    color: #575756;
    font-weight: bold;
    text-align: left;
    font-size: 1.1em;
}

.card .card-body .card-title-dark-left{
    color: #3C3C3B;
    font-weight: bold;
    text-align: left;
    font-size: 2em;
}

.card .card-body .card-text-dark-left{
    color: #706F6F;
    text-align: left;
    padding-top: 28px;
    font-size: 1.2em;
}
.card .card-body .card-bold-minititle-text-white{
    color: #fff;
    font-weight: bold;
    text-align: left;
    font-size: 1.1em;
}

.media-text-product{
    color: #fff;
    text-align: left;
    font-size: 1.1em;
}
.media-heading-white{
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    padding-top: 9px;
    font-size: 1.3em;
}

.media-heading-blue{
    color: #4EBBE4;
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
    padding-top: 9px;
}

.media-object{
    padding-top: 5px;
    margin-right: 30px;
}


/*Styling Buttons*/

.default {
    border-color: gainsboro;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.25em;
}

.default:hover {
    background: #e7e7e7;
    color:#383838;
}

.info {
    border-color: black;
    color:white;
    background-color: #575756;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.25em;
}

.info:hover {
    background: #909090;
    color: black;
}


.info[disabled], .info[disabled]:hover, .info[disabled]:focus,.info[disabled]:active{
    pointer-events: none;
    color:#1D1D1B;
}

.servicios {
    border-color: #706F6F;
    color:#1E3863;
    background-color: white;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.25em;
}

.servicios:hover {
    background: #909090;
    color: black;
}

.info-helio {
    border-color: #125699;
    color:#125699;
    background-color: white;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.25em;
}

.info-helio:hover {
    background: #909090;
    color: black;
}

.info-krypton {
    border-color:white;
    color:white;
    background-color: #4EBBE4;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.25em;
}
/* Enable Hover on Krypton Button
.info-krypton:hover {
    background: #909090;
    color: black;
}*/

.info-academy {
    border-color:white;
    color:white;
    background-color: #6B478E;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.25em;
}

.info-academy:hover {
    background: #909090;
    color: black;
}

.info-academy-inverted {
    border-color:#6B478E;
    color:#6B478E;
    background-color: white;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.25em;
}

.info-academy-inverted:hover {
    background: #909090;
    color: black;
}

.info-academy-inverted-grey {
    border-color:#6B478E;
    color:#6B478E;
    background-color: #d6d6d6;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.25em;
}

.info-academy-inverted-grey:hover {
    background: #909090;
    color: black;
}

.postulate {
    border-color: black;
    color: #383838;
    background-color: #e7e7e7;
    border-radius: 8px;
    font-size: 0.83em;
    font-weight: bold;
}

.postulate:hover {
    background: #999999;
}

.left-margin {
    margin-left: 2px 
}

/*Style Lists with Icon on Left Side*/

.media{
    padding-bottom: 15px;
}

.media .media-left{
    padding-right: 15px;    
}

.media .media-body .media-heading{
    color: #575756;
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
    padding-top: 9px;
}

.media .media-body .media-text{
    color: #706F6F;
    text-align: left;
    font-size: 1.1em;
}

/* Cards Logos*/
.img-responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 10px;
}

/*Align Brands Logos*/
.img-responsive-brands{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.img-responsive-lideres{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;   
}

.img-responsive-cards{
    display: block;
    margin-right: auto;
    max-width: 100%;
    height: auto;   
}

/*Video Embedded Styling*/
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*Styling Footer*/

.container .col-md-2{
    font-size: 0.8em; 
}

.font-weight-bold{
    font-size: 1.3em;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-left: 3px;
}

.container .col-md-2 li{
    padding: 3px
}

.page-footer{
    text-align: center;
    font-size: 0.9em;
}

.page-footer .col-md-2 li{
    padding-top: 2px;
}

.page-footer .col-md-2 a{
   text-decoration: none;
}

.page-footer .row .col-md-2 a:hover{
    color: white !important;
 }

.footer-direccion{
    padding-bottom: 30px;
    padding-top: 10px;
}

.footer-direccion .col-md-4{
    text-align: center;
    padding-top: 15px;
}

.row-img img{
    margin: 10px;
}

.row-img{
    text-align: center;
}

/*Change Appearence of Navbar-Collapse*/
@media only screen and (max-width: 991px){
    .navbar {
        overflow: auto;
        max-height: 95vh;
        align-items: unset;
    }
    
    .navbar-collapse li { 
        background: rgba(0,0,0,0.97);
    } 

    .navbar .nav-item a{
        color: white !important;
        padding-left: 25px !important;
        font-family:"Century Gothic","Muli", sans-serif !important;
    }

    .navbar-collapse { 
        padding-top: 20px;  
    }

    li.search-form{
        padding-left: 25px !important;
    }

    form.search{
        margin-right: 25px;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        padding-left: 20px;
        padding-top: 0px !important;
        background-color: rgba(0, 0, 0, 0.9) !important;
    }

    .dropdown-item{
        padding-top: 2px !important;
    }

    .navbar .nav-item{
        background-color: rgba(0, 0, 0, 0.9) !important;
        font-weight: bold;
    }

    #es-languaje-dropdown.nav-link.dropdown-toggle::after{
    display: none;
    }

    #en-languaje-dropdown{
       padding-left: 0px !important;
    }

}

/*Responsive Menú for Devices with Screen Width to 768*/
@media only screen and (max-width : 768px) {

    .center-main-text{
        padding-top: 90px; 
        padding-bottom: 20px;
    }
    
    .servicios-center-main-text{
        padding-top: 90px;
        padding-bottom: 110px;
    }

    .nosotros-center-main-text{
        padding-top: 90px;
        padding-bottom: 40px;
    }

    .academy-center-main-text{
        padding-top: 90px;
        padding-bottom: 145px;
    }

    .contact-center-main-text{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .helio-center-main-text{
        padding-top: 90px;
        padding-bottom: 55px;
    }

    .krypton-center-main-text{
        padding-top: 90px;
        padding-bottom: 70px;
    }

    .productos-center-main-text{
        padding-top: 90px;
        padding-bottom: 120px;
    }

    .allies-center-main-text{
        padding-top: 90px;
        padding-bottom: 150px;
    }

    .container .col-md-2{
        font-size: 0.8em; 
    }
    .font-weight-bold{
        font-size: 1.1em;
        padding-bottom: 2px;
    }
    form.search .search-input{
        width: 220px;
    }
    form.search{
        margin-right: 25px;
    }
    .responsive-1-col{
        margin-top: auto;
        margin-bottom: auto;
    }
    .form-row{
        flex-wrap: nowrap !important;
    }
    #iconKrypton, #iconKrypton2{
        display: none;
    }

    #formulario{
        padding-top: 0px !important;
    }

    .card .card-body .card-title-dark{
        color: #3C3C3B;
        font-weight: bold;
        font-size: 1.5em;
    }
    .scalize .item-point.marker{
        margin-top:-13px;
        margin-left: -8px;
     }
}

/*Responsive Menú for Devices with Screen Width < 760*/
@media only screen and (max-width : 760px) {
   
    .center-main-text{
        padding-top: 90px;
        padding-bottom: 60px;
    }
        
    .nosotros-center-main-text{
        padding-top: 90px;
        padding-bottom: 40px;
    }
    .container .col-md-2{
        font-size: 0.8em; 
        padding-left: 20px;
    }
    .font-weight-bold{
        font-size: 1.1em;
        padding-bottom: 2px;
    }
    #textoFormulario{
        padding-top: 5px !important;
    }
}

/*Animate Social Networks Images*/
.zoom {
    transition: transform .2s;
}

.no-touchevents .zoom:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}

/*Make Captcha Smaller*/
.g-recaptcha {
    transform:scale(0.75);
    -webkit-transform:scale(0.75);
}

/*Scale Map Pins for better compatibility*/
@media screen and (max-width: 901px){
    .scalize .item-point.marker{
       transform: scale(0.6);
    }
}


/*Scale Map Pins for better compatibility*/
@media screen and (max-width: 426px){
    .scalize .item-point.marker{
       transform: scale(0.35);
    }
}


/*Responsive Captcha for Devices with Screen Width < 375*/
@media screen and (max-width: 390px){
    .g-recaptcha {
    transform:scale(0.75);-webkit-transform:scale(0.75);
    transform-origin:0 0;-webkit-transform-origin:0 0;
    }

    #row-analitica, #row2-analitica{
        font-size: 0.85em;
    }

    #row-academy{
        font-size: 0.85em;
    }
}

/*Style Map Pins Allies Page*/

.scalize .item-point.marker .pin {
    background: #202020 !important;
}

.scalize .item-point.marker .pin:after {
    background: white !important;
}

.scalize .item-point.marker .pulse:after {
    box-shadow: 0 0 1px 2px #202020 !important;
}

/*Style Titles on Popup Allies*/
.head .title{
    text-align: center;
    font-weight: bold;
}

/*Style Brands on allies Page*/
.brands{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    vertical-align: middle;
}

/*Add Color to logos on mobile devices*/
@media screen and (min-width: 767px){
    .brands img:hover {
        -webkit-filter: grayscale(0%);
        -webkit-transition: .3s ease-in-out;
        -moz-filter: grayscale(0%);
        -moz-transition: .3s ease-in-out;
        -o-filter: grayscale(0%);
        -o-transition: .3s ease-in-out;
        filter: grayscale(0%);
        transition: .3s ease-in-out;
      } 
      
      .brands img {
        -webkit-filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        -moz-filter: grayscale(100%); 
        -moz-transition: .3s ease-in-out;
        -o-filter: grayscale(100%); 
        -o-transition: .3s ease-in-out;
        filter: grayscale(100%);
        transition: .3s ease-in-out;
      }
}

/*Hide Powered by Google to make it responsive*/
.gsc-branding-text, .gcsc-branding-text {
    display: none;
}

/*Embed youtube video*/
.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.20%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}