.test-img{
    margin: auto;
    text-align: center;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 100px;
}


.testimonial{
    text-align: center;
    padding:0 5px 5px 5px;
    border:1px solid #999999;
    background: white ;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 1px;
}

.test-heading{
    margin-top: 25px;
    color:#6b478e;;
    font-size: 22px;
}

.test-text{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom:15px; 
    color: #575756;
    font-weight: normal;
}
.test-body-block{
    margin: 15px;
    height: auto;
}
.test-comp{
    color:#6b478e;
    font-size: 1.0em;
    padding-bottom: 20px;
    font-weight: bold;
}

.slick-slide img {
     display: inline !important; 
}