<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92186899-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92186899-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>handytec Academy</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/handytec-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../javascripts/modernizr-custom.js"></script>
    <link id="favicon" rel="icon" href="../images/logos/handytec_icon_bk.ico" type="image/x-icon">
</head>

<body>

    <!--------------------------- NavBar + Background Image + Texto Centrado -------------------------------------->
    <section style="min-height: 100vh;">
        <div class="academy-header-img" style="min-height: 100vh;">
            <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-bottom: 15px;">
                <a href="/es" class="navbar-left">
                    <img src="../images/logos/handytec_logo_index.svg" height="39px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/es" onclick="location.href = '/es';">Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/es/nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/es/productos" id="navbarDropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu" style="min-width: 75px;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="/es/productos#helio">helio.geo</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/productos#krypton">krypton.data</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/es/servicios" id="navbarDropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Servicios</a>
                            <div class="dropdown-menu" style="min-width: 75px;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#estrategiaDot8">Estrategia
                                    DOT8</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#BINewGen">BI Nueva
                                    Generación</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#analiticaAvanzada">Analítica
                                    Avanzada</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/academy">handytec Academy</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/es/contacto">Contacto</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a id="es-languaje-dropdown" class="nav-link dropdown-toggle" href="/es/academy" id="navbarDropdown"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="../images/flags/ES.png" alt="ES" /> ES</a>
                            <div id="en-languaje-dropdown" class="dropdown-menu" style="min-width: 75px;"
                                aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="#" onclick="changeLink('/en/academy')">
                                    <img src="../images/flags/US.png" alt="EN" /> EN</a>
                            </div>
                        </li>
                        <li class="search-form">
                            <form role="search" method="get" class="search" action="/es/buscar">
                                <input id="input-search" type="text" name="q" value="" class="search-input search_field_main"
                                    maxlength="50" placeholder="Buscar..">
                                <input id="search-btn" type="submit" class="search-trigger search_submit_main" style="width: 30px; height: 30px;">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="academy-center-main-text">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="../images/logos/logo_academy_cabecera.svg" height="58px" width="auto"
                                                alt="handytec Academy">
                                            <p class="card-text" style="padding:30px; text-align: center;font-size: 1.5em;">Programa
                                                Corporativo para entrenar equipos de Ciencia de Datos y Big Data</p>
                                            <button href="/es/academy" onclick="location.href = '/es/contacto';" class="btn info-academy"
                                                style="font-weight: bold;width: 220px;">Más Información</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------- Secccion  Capactación a tu Medida-------------------------------------->
    <section>
        <div class="container-fluid" style="background-color:#D8D8D8; padding-top: 60px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h3 class="card-title-dark" style="color:#6b478e">Ejecuta tus propios proyectos</h3>
                                    <p class="card-text-dark-left" style="text-align: center;">Existe una alta demanda
                                        de perfiles en estos campos dentro de las organizaciones que resultan bastante
                                        difíciles de conseguir. Con handytec Academy desarrolla las habilidades y
                                        competencias para afrontar nuevos retos analíticos sin afectar la productividad
                                        por los largos procesos de contratación. </p>
                                    <h4 class="card-title-dark" style="color:#706F6F; font-size: 1.75em;padding-top: 15px;">¿Qué
                                        incluye nuestro programa?</h4>
                                </div>
                                <img src="../images/assets/arbol_academy_img.svg" width="100%" height="auto" alt="Infografía handytec Academy">
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------- Secccion  Tracks de Ciencia de Datos-------------------------------------->
    <section>
        <div class="container-fluid" style="background-color:white; padding-top: 60px;padding-bottom: 20px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h3 class="card-title-dark" style="color:#6b478e">Tracks especializados para
                                        organizaciones</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-left: 10px;padding-right: 10px;margin-top: 15px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1 d-none d-xl-block"></div>
                        <div class="col-md ml-auto">
                            <div class="card-academy">
                                <div class="card-body">
                                    <h5 class="card-title-academy">Data Scientist</h5>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/reloj_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Duración">
                                        <span class="card-academy-bold-text">Duración: </span>
                                        <span class="card-academy-text">80 horas</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/libro_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Cursos">
                                        <span class="card-academy-bold-text">Numero de Cursos: </span>
                                        <span class="card-academy-text">4</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/lenguaje_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Idioma">
                                        <span class="card-academy-bold-text">Lenguaje: </span>
                                        <span class="card-academy-text">Español</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/temas_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Temas">
                                        <span class="card-academy-bold-text">Temas: </span>
                                        <ol class="card-academy-text-list">
                                            <li>Estadística para Ciencia de Datos</li>
                                            <li>Visualización de Datos</li>
                                            <li>Machine Learning</li>
                                            <li>Perspectivas de negocio</li>
                                            <li style="color: transparent"></li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md ml-auto">
                            <div class="card-academy">
                                <div class="card-body">
                                    <h5 class="card-title-academy">Data Curator</h5>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/reloj_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Duración">
                                        <span class="card-academy-bold-text">Duración: </span>
                                        <span class="card-academy-text">80 horas</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/libro_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Cursos">
                                        <span class="card-academy-bold-text">Numero de Cursos: </span>
                                        <span class="card-academy-text">4</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/lenguaje_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Idioma">
                                        <span class="card-academy-bold-text">Lenguaje: </span>
                                        <span class="card-academy-text">Español</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/temas_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Temas">
                                        <span class="card-academy-bold-text">Temas: </span>
                                        <ol class="card-academy-text-list">
                                            <li>Exploración e integración de datos</li>
                                            <li>Limpieza de datos</li>
                                            <li>Perfilamiento de datos</li>
                                            <li>Calidad de datos</li>
                                            <li style="color: transparent"></li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md ml-auto">
                            <div class="card-academy">
                                <div class="card-body">
                                    <h5 class="card-title-academy">Big Data Engineer</h5>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/reloj_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Duración">
                                        <span class="card-academy-bold-text">Duración: </span>
                                        <span class="card-academy-text">80 horas</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/libro_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Cursos">
                                        <span class="card-academy-bold-text">Numero de Cursos: </span>
                                        <span class="card-academy-text">4</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/lenguaje_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Idioma">
                                        <span class="card-academy-bold-text">Lenguaje: </span>
                                        <span class="card-academy-text">Español</span>
                                    </p>
                                    <p>
                                        <img style="vertical-align: text-bottom;" src="../images/assets/temas_card_academy_icon.svg"
                                            width="25px" height="auto" alt="Temas">
                                        <span class="card-academy-bold-text">Temas: </span>
                                        <ol class="card-academy-text-list">
                                            <li>Fundamentos en Big Data</li>
                                            <li>Diseño y arquitectura de bases de datos</li>
                                            <li>Bases de datos noSQL</li>
                                            <li>Despliegue de arquitecturas Cloud</li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 d-none d-xl-block"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: center;padding-bottom: 20px;">
                <div class="col-md-12">
                    <button href="/es/academy" onclick="location.href = '/es/contacto';" class="btn info-academy-inverted-grey"
                        style="font-weight: bold;width: auto;">¿Quieres saber más?</button>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------- Div Morada con Texto-------------------------------------->
    <section>
        <div class="container-fluid" style="background-color:#6B478E; padding-top: 40px;padding-bottom: 40px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="card text-center">
                                <div class="card-body">
                                    <p class="card-text-dark-left" style="text-align: center;color: white;font-size: 1.6em;">Hemos
                                        formado más de
                                        <span class="bold" style="font-size: 1.8em;">300</span> profesionales y el
                                        <span class="bold" style="font-size: 1.8em;">100%</span> de ellos nos
                                        recomiendan</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------- Secccion Aliado Estratégico-------------------------------------->
    <section>
        <div class="container-fluid" style="background-color:white; padding-top: 45px;padding-bottom: 60px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h3 class="card-title-dark" style="color:#6b478e">Nuestro aliado estratégico</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-5 m-auto">
                            <div class="card text-center">
                                <div class="card-body">
                                    <p class="card-text-dark-left" style="text-align: center;padding-top: 0px;">Al ser
                                        parte de nuestro programa handytec Academy accede a los mejores instructores de
                                        la industria. Aprenderás directamente de los <span style="font-weight: bold;">autores</span>
                                        de
                                        paquetes
                                        de código de renombre y de las <span style="font-weight: bold;">organizaciones</span>
                                        que entienden la innovación en
                                        ciencias
                                        de la información.</p>
                                </div>
                                <div style="text-align: center;">
                                    <img src="../images/assets/aliados_academy_img.svg" width="65%" height="65%" alt="Aliados handytec Academy">
                                </div>
                            </div>
                        </div>
                        <div id="row-academy" class="col-md-5 m-auto" style="padding-top: 15px;">
                            <div class="card text-center">
                                <div class="card-body" style="text-align: center;">
                                    <img src="../images/logos/logo_datacamp.svg" width="250px" height="auto" alt="dataCamp handytec Academy">
                                </div>
                                <div style="padding-top: 25px; padding-left: 25px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" src="../images/assets/adaptable_icon.svg" height="78px"
                                                alt="Adaptable">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">ADAPTABLE</h4>
                                            <p class="media-text">Lecciones adaptadas a su horario y en cualquier
                                                dispositivo.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" src="../images/assets/online_icon.svg" height="78px"
                                                alt="Online">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">ONLINE</h4>
                                            <p class="media-text">Combinación de videos de expertos, todo en una misma
                                                plataforma.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" src="../images/assets/certificaciones_medida_icon.svg"
                                                height="78px" alt="Certificaciones a medida">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">CERTIFICACIONES A MEDIDA </h4>
                                            <p class="media-text">Obtenga certificados a medida que vaya completando
                                                los cursos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------- Secccion handytec Youth Academy-------------------------------------->
    <section id="youthAcademy" name="youthAcademy">
        <div class="container-fluid" style="background-color:#D8D8D8; padding-top: 75px;padding-bottom: 40px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h3 class="card-title-dark" style="color:#6b478e">handytec Youth Academy</h3>
                                    <h3 class="card-title-dark" style="font-size: 1.45em;margin-top: 35px;">Iniciativa
                                        social creada para formar jóvenes talentosos que quieran convertirse en
                                        Científicos
                                        de Datos</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-md-5 m-auto">
                            <div class="card text-center">
                                <div class="card-body">
                                    <p class="card-text-dark-left" style="font-size: 1.4em;text-align: center;padding-top: 0px;color:#6b478e">"Con
                                        este programa abrimos nuevas oportunidades que potencialicen el talento de los
                                        jóvenes y los inserten en startups tecnológicas y grandes corporaciones"</p>
                                    <p class="card-text-dark-left" style="text-align: center;padding-top: 0px; font-size: 1.2em;color:#6b478e;">Fernanda
                                        Aldrette, Directora handytec Academy</p>
                                </div>
                                <div style="text-align: center;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="card-title-dark" style="color:#706F6F">¡Periodo de aplicaciones
                                                finalizado!</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 m-auto">
                            <div style="text-align: center;">
                                <img src="../images/assets/youth_academy_img.svg" width="71%" height="auto" alt="handytec Youth Academy">
                            </div>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----------------------------------- Footer ------------------------------------------------>
    <section>
        <div class="footer-img" style="padding-top: 20px;">
            <div class="container-fluid">
                <footer class="page-footer">
                    <div class="row" style="padding-top:25px;">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">PRODUCTOS</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/helio" style="color:#C2C2C2">helio.geo</a>
                                </li>
                                <li>
                                    <a style="color:#C2C2C2">krypton.data</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">SERVICIOS</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/servicios#estrategiaDot8" style="color:#C2C2C2">Estrategia DOT8</a>
                                </li>
                                <li>
                                    <a href="/es/servicios#BINewGen" style="color:#C2C2C2">BI Nueva Generación</a>
                                </li>
                                <li>
                                    <a href="/es/servicios#analiticaAvanzada" style="color:#C2C2C2">Analítica Avanzada</a>
                                </li>
                                <li>
                                    <a href="/es/academy" style="color:#C2C2C2">handytec Academy</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">TECNOLOGÍA</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/aliados" style="color:#C2C2C2">Aliados</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">CONTÁCTANOS</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/contacto" style="color:#C2C2C2">Contacto</a>
                                </li>
                                <li>
                                    <a href="/es/contacto" style="color:#C2C2C2">Carreras</a>
                                </li>
                                <li>
                                    <a href="#!" style="color:#C2C2C2">Casos de Éxito</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">SITIO</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es" style="color:#C2C2C2">Inicio</a>
                                </li>
                                <li>
                                    <a href="/es/nosotros" style="color:#C2C2C2">Nosotros</a>
                                </li>
                                <li>
                                    <a href="/es/productos" style="color:#C2C2C2">Productos</a>
                                </li>
                                <li>
                                    <a href="/es/servicios" style="color:#C2C2C2">Servicios</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <!-- Footer de 3 columnas-->
                    <div class="footer-direccion">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-3 m-auto">
                                <div>
                                    <a href="/es">
                                        <img src="../images/logos/handytec_logo_index.svg" height="39px">
                                    </a>
                                </div>
                                <br>
                                <a style="color:#C2C2C2">© 2018 Handytecmobi S.A. Todos los derechos reservados.</a>
                            </div>

                            <div class="col-md-3 m-auto">
                                <br>
                                <a style="color:#C2C2C2">Av. República de El Salvador N35-82 y Portugal</a>
                                <a style="color:#C2C2C2"> |Quito, Ecuador|</a>
                                <br>
                                <a style="color:#C2C2C2">+593 (02) 224 3559 | contact@handytec.mobi</a>
                            </div>

                            <div class="col-md-3 m-auto">
                                <br>
                                <div class="row-img">
                                    <img class="zoom" href="#" onclick="openLink('https://www.linkedin.com/company/handytec')"
                                        src="../images/logos/linkedin_logo.png" width="30" height="30" alt="LinkedIn"
                                        style="cursor: pointer;" onmouseover="hoverLinked(this,'linkedin');" onmouseout="unhoverLinked(this,'linkedin');">
                                    <img class="zoom" href="#" onclick="openLink('https://twitter.com/handytec')" src="../images/logos/twitter_logo.png"
                                        width="30" height="30" alt="Twitter" style="cursor: pointer;" onmouseover="hoverLinked(this,'twitter');"
                                        onmouseout="unhoverLinked(this,'twitter');">
                                    <img class="zoom" href="#" onclick="openLink('https://www.facebook.com/handytec')"
                                        src="../images/logos/facebook_logo.png" width="30" height="30" alt="Facebook"
                                        style="cursor: pointer;" onmouseover="hoverLinked(this,'facebook');" onmouseout="unhoverLinked(this,'facebook');">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/navcolor.js"></script>

    <script>
        function openLink(link) {
            window.open(link);
        }
        function changeLink(link) {
            window.location.replace(link);
        }
        var searchField = document.getElementById('input-search');
        var searchBtn = document.getElementById('search-btn');
        searchBtn.addEventListener('mouseover', function () {
            searchField.focus();
        });
    </script>
    <script>
        if (!Modernizr.touchevents) {
            function hoverLinked(element, brand) {
                var src = `../images/logos/${brand}_active_logo.png`
                element.setAttribute('src', src);
            };
            function unhoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
        } else {
            function hoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
            function unhoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
        }

    </script>
</body>

</html>