<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92186899-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92186899-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>e-Academy</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/academy-style.css" rel="stylesheet">
    <script src="../javascripts/modernizr-custom.js"></script>
    <link id="favicon" rel="icon" href="../images/logos/handytec_icon_bk.ico" type="image/x-icon">
    <link href="../stylesheets/slick.css" rel="stylesheet">
    <link href="../stylesheets/slick-theme.css" rel="stylesheet">
</head>

<body>

    <!--------------------------- NavBar-------------------------------------->
    <section>
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="padding-bottom: 10px;">

            <a href="/es/eacademy" class="navbar-left">
                <img src="../images/logos/academy/e-academy_logo.svg" height="65px">
            </a>
            <!-- boton tipo hamburguesa -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <button href="/es/contacto-academy" onclick="location.href = '/es/contacto-academy';" class="btn login-academy"
                            style="font-weight: bold">Iniciar Sesión</button>
                        <!-- añadir link para el inicio de sesion-->
                    </li>
                </ul>

            </div>
        </nav>
    </section>

    <!--------------------------- Div Titulo Principal-------------------------------------->
    <section>
        <div class="container-fluid" style="background-color:#6B478E; padding-top: 8px;padding-bottom: 8px;">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="card text-center">
                        <div class="card-body" style="text-align: left;">
                            <h3 class="card-title-dark" style="color:white">Herramientas para Ciencia de Datos</h3>
                            <p class="card-text" style="padding:30px; text-align: left;font-size: 1.5em;color: white;">En
                                este curso aprenderás a manejar diferentes herramientas para convertirte en
                                un científico de datos.</p>
                            <p class="card-text" style="padding:0px 30px 0px 30px; text-align: left;font-size: 1em;color: white;">Impartido
                                por: <span style="font-weight: bold">Eduardo Marín</span></p>
                            <p class="card-text" style="padding:0px 30px 0px 30px; text-align: right;;font-size: 1em;color: white;">💬 Español</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--------------------------- Secccion  Descripción + Card -------------------------------------->
    <section id="Cursos">
        <div class="container-fluid" style="padding-top: 30px;padding-bottom: 20px">

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <p style="color:#6b478e; text-align: left; padding-top: 10px ;padding-bottom: 10px; padding-left: 40px; font-size: 2.1em">
                        <span class="bold"> Descripción</span>
                    </p>
                    <div class="card-subtitle">
                        <p style=" padding-left: 40px;color: #999999">
                            Programa diseñado para enseñar a los participantes para que adquieran el conocimiento
                            y habilidades para realizar las siguientes actividades.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card-academy" style="margin-top: -320px; font-size: 0.8em;">
                        <div class="contenedor-video">
                            <img src="../images/logos/academy/ciencia_datos_min.jpg" alt="Img" class="product-grid__img" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-academy-bold-text" style="font-size: 2em">$ 29.99</h5>
                            <div style="text-align: center;margin-top: 15px;margin-bottom: 15px;"><button href="/es/contacto-academy"
                                    onclick="location.href = '/es/contacto-academy';" class="btn info-academy" style="font-weight: bold; border-radius: 10px;">Iniciar
                                    Sesión</button></div>
                            <p><span class="card-academy-bold-text">Incluye: </span></p>
                            <p>
                                <img style="vertical-align: text-bottom;" src="../images/assets/reloj_card_academy_icon.svg"
                                    width="25px" height="auto" alt="Duración">
                                <span class="card-academy-text">1:35 horas de video</span>
                            </p>
                            <p>
                                <img style="vertical-align: text-bottom;" src="../images/assets/libro_card_academy_icon.svg"
                                    width="25px" height="auto" alt="Cursos">
                                <span class="card-academy-text">Diferentes recursos descargables</span>
                            </p>
                            <p>
                                <img style="vertical-align: text-bottom;" src="../images/assets/lenguaje_card_academy_icon.svg"
                                    width="25px" height="auto" alt="Idioma">
                                <span class="card-academy-text">Idioma Español</span>
                            </p>
                            <p>
                                <img style="vertical-align: text-bottom;" src="../images/assets/certificacion_card_academy_icon.svg"
                                    width="25px" height="auto" alt="Temas">
                                <span class="card-academy-text">Certificación</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

    </section>

    <!----------------------------------- Footer ------------------------------------------------>
    <section>
        <div class="footer-img" style="padding-top: 20px;">
            <div class="container-fluid">
                <footer class="page-footer">
                    <div class="row" style="padding-top:25px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">APRENDE</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#Cursos" style="color:#C2C2C2">Cursos</a>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">PLANES</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="" style="color:#C2C2C2">Individual</a>
                                </li>
                                <li>
                                    <a href="" style="color:#C2C2C2">Corporativo</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">ACERCA DE</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/contacto-academy" style="color:#C2C2C2">Contacto</a>
                                </li>
                                <li>
                                    <a href="" style="color:#C2C2C2">FAQ</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">CONTÁCTANOS</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/contacto-academy" style="color:#C2C2C2">Contacto</a>
                                </li>
                                <li>
                                    <a href="/es/contacto-academy" style="color:#C2C2C2">Carreras</a>
                                </li>
                                <li>
                                    <a href="#" style="color:#C2C2C2">Casos de Éxito</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <!-- Footer de 3 columnas-->
                    <div class="footer-direccion">
                        <div class="row">
                            <div class="col-md-3 m-auto">

                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" onclick="openLink('https://wwww.handytec.mobi')">
                                            <img src="../images/logos/handytec_logo_index.svg" height="39px">
                                        </a>
                                    </li>
                                    <li>
                                        <p style="color: #C2C2C2; font-size: 0.9em; margin-top: 15px;">Empresa de
                                            Analítica y Big data que ha dado un paso adelante con sus programas de
                                            capacitación en Ciencia de Datos.</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 m-auto">
                                <br>
                                <a style="color:#C2C2C2">Av. República de El Salvador N35-82 y Portugal |Quito,
                                    Ecuador|
                                </a>
                                <a style="color:#C2C2C2">+593 (02) 224 3559 | contact@handytec.mobi</a>
                                </br>
                                <br>
                                <a style="color:#C2C2C2">©2019 Handytecmobi S.A. Todos los derechos reservados.</a>
                                </br>
                            </div>

                            <div class="col-md-3 m-auto">
                                <br>
                                <div class="row-img">
                                    <h5 class="font-weight-bold" style="color: white;">Síguenos</h5>
                                    <img class="zoom" href="#" onclick="openLink('https://www.linkedin.com/company/handytec')"
                                        src="../images/logos/linkedin_logo.png" width="30" height="30" alt="LinkedIn"
                                        style="cursor: pointer;">
                                    <img class="zoom" href="#" onclick="openLink('https://twitter.com/handytec')" src="../images/logos/twitter_logo.png"
                                        width="30" height="30" alt="Twitter" style="cursor: pointer;">
                                    <img class="zoom" href="#" onclick="openLink('https://www.facebook.com/handytec')"
                                        src="../images/logos/facebook_logo.png" width="30" height="30" alt="Facebook"
                                        style="cursor: pointer;">
                                </div>
                            </div>

                        </div>
                    </div>

                </footer>
            </div>
        </div>
    </section>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/navcolor.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.brands').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 3000,
                pauseOnFocus: false,
                pauseOnHover: false,
                responsive: [
                    {
                        breakpoint: 1025,
                        settings: {
                            slidesToShow: 2,
                            autoplay: false,
                            autoplaySpeed: 3000,
                            pauseOnFocus: false,
                            pauseOnHover: false
                        }
                    },
                    {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 1,
                            autoplay: false,
                            autoplaySpeed: 3000,
                            pauseOnFocus: false,
                            pauseOnHover: false
                        }
                    }
                ]
            });
        });
    </script>

    <script>
        function openLink(link) {
            window.open(link);
        }
        function changeLink(link) {
            window.location.replace(link);
        }
    </script>

    <script>
        if (!Modernizr.touchevents) {
            function hoverLinked(element, brand) {
                var src = `../images/logos/${brand}_active_logo.png`
                element.setAttribute('src', src);
            };
            function unhoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
        } else {
            function hoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
            function unhoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
        }

    </script>

</body>

</html>