<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92186899-2"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92186899-2');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>e-Academy</title>
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="../stylesheets/academy-style.css" rel="stylesheet">
	<link href="../stylesheets/testimonials.css" rel="stylesheet">
	<link href="../stylesheets/sheetslider.min.css" rel="stylesheet">
	<link href="../stylesheets/products.css" rel="stylesheet">
	<script src="../javascripts/modernizr-custom.js"></script>
	<script src="../javascripts/sheetslider.min.js"></script>
	<link id="favicon" rel="icon" href="../images/logos/handytec_icon_bk.ico" type="image/x-icon">
</head>

<body>

<!--------------------------- NavBar - Texto Centrado -------------------------------------->
<section style="min-height: 100vh;">
	<div class="academy-header-img" style="min-height: 100vh;">
		<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="padding-bottom: 15px;">
			<a href="/es/academy" class="navbar-left">
				<img src="../images/logos/academy/logo_big_purple.png" height="65px">
			</a>
			
			<!-- boton tipo hamburguesa -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active" style="margin-left: 100px; padding-left: 50px">
						<a  class="navbar-brand" href="#Cursos" >
							<img src="../images/logos/academy/course_icon.png" width="65" height="65"  alt="Cursos"
								 style="text-decoration-color: black" />
						</a>Cursos
					</li>
					
					<li class="nav-item active" style=" margin-left:100px ; padding-left: 50px">
						<a  class="navbar-brand" href="" >
							<img src="../images/logos/academy/corp_icon.png" width="65" height="65"  alt="Plan"
								 style="text-decoration-color: black" />
						</a>Plan Corporativo
					</li>
					
					<li class="nav-item active" style="margin-left: 150px; padding-left: 50px; padding-top: 20px">
						<button href=" " onclick="location.href = '';" class="btn_session"
								style="font-weight: bold;width: auto ">Iniciar Sesión
						</button><!-- añadir link para el inicio de sesion-->
					</li>
				</ul>
			
			</div>
		</nav>
		
		
		<!------------------ Slide de diapositivas ------------------------->
		<div class="sheetSlider sh-default" >
			<input id="s1" type="radio" name="slide1" checked/>
			<input id="s2" type="radio" name="slide1" />
			<input id="s3" type="radio" name="slide1" />
			<div class="sh__content">
				
				<!-- Slider Item -->
				<div class="sh__item">
					<img src="../images/logos/academy/Slide1.png" alt="imgText"/>
					<!-- Item Info -->
					<div class="titulo_centrado" style="font-size: 3em; color: white; font-weight: bold">
						Nuestros Programas
					</div>
					<div class="centrado" style="font-size: 2em; color: white">
						Contamos con una excelente propuesta de cursos para que te conviertas
						en un especialista en Ciencia de Datos
					</div>
				</div>
				
				<!-- Slider Item -->
				<div class="sh__item">
					<img src="../images/logos/academy/Slide2.png" alt="imgText"/>
					<!-- Item Info -->
					
					<div class="titulo_centrado" style="font-size: 3em; color: white; font-weight: bold">
						Nuestros Programas
					</div>
					<div class="centrado" style="font-size: 2em; color: white">
						Tenemos un programa enfocado a la capacitación del personal
						de las empresas que demanden este servicio
					</div>
				
				
				</div>
				
				<!-- Slider Item -->
				<div class="sh__item">
					<img src="../images/logos/academy/Slide3.png" alt="imgText"/>
					<!-- Item Info -->
					
					<div class="titulo_centrado" style="font-size: 3em; color: white; font-weight: bold">
						Nuestros Programas
					</div>
					<div class="centrado" style="font-size: 2em; color: white">
						Tenemos un programa enfocado a la capacitación del personal
						de las empresas que demanden este servicio
					</div>
				
				</div>
			
			</div><!-- .sh__content -->
			
			<!--botones-->
			<div class="sh__btns">
				<label for="s1"></label>
				<label for="s2"></label>
				<label for="s3"></label>
			</div><!-- .sh__btns -->
			
			<!--flechas-->
			<div class="sh__arrows">
				<label for="s1"></label>
				<label for="s2"></label>
				<label for="s3"></label>
			</div><!-- .sh__arrows -->
		
		</div><!-- .sheetSlider -->
		
		<!--------------------------- Div Morada con Texto-------------------------------------->
		<section>
			<div class="container-fluid" style="background-color:#6B478E; padding-top: 8px;padding-bottom: 8px;">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="row align-items-center">
							<div class="col-md">
								<div class="card-subtitle">
									<div class="card-body" style="padding-left: 90px">
										<img src="../images/logos/academy/code_icon.png" height="80px" >
										<span style="color: white; font-size: 1.2em">Cursos online</span>
									</div>
								</div>
							</div>
							
							<div class="col-md">
								<div class="card-subtitle">
									<div class="card-body" style="padding-left: 90px">
										<img src="../images/logos/academy/check_icon.png" height="80px">
										<span style="color: white; font-size: 1.2em">Instructores expertos</span>
									</div>
								</div>
							</div>
							
							
							<div class="col-md">
								<div class="card-subtitle">
									<div class="card-body" style="padding-left: 90px">
										<img src="../images/logos/academy/clock_icon.png" height="80px">
										<span style="color: white; font-size: 1.2em">Acceso Flexible</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		
		<!--------------------------- Secccion  Cursos-------------------------------------->
		<A name="Cursos"></a>
		<section>
			<div class="container-fluid" style="background-color:white; padding-top: 30px;padding-bottom: 20px">
				
				<p style="color:#6b478e; text-align: left; padding-top: 10px ;padding-bottom: 50px; font-weight: bold; font-size: 2.1em">Nuestros Cursos</p>
				<div class="row align-items-start " style="display: flow">
					<div class="col-5">
						<div class="card-subtitle">
							<p style="font-family: Century Gothic, Muli, sans-serif; font-weight: bold; font-size: 1.2em; padding-left: 40px; text-align: center">
								La mejor selección de cursos para que conviertas en un científico de datos.</p>
							<p style=" padding-left: 40px; text-align: center">
								Contamos con una excelente propuesta de cursos para que
								te conviertas en un especialista en Analítica y Big Data</p>
						</div>
					
					</div>
					<div class="col-7 ">
						<div class="content">
							
							<!-- content here -->
							<div class="product-grid product-grid--flexbox" style="height: 100% ;width: 100%">
								
								<div class="product-grid__wrapper">
									<!-- Product list start here -->
									
									<!-- Single product -->
									<div class="product-grid__product-wrapper">
										<div class="product-grid__product">
											<div class="product-grid__img-wrapper">
												<img src="https://images.apple.com/euro/macbook/a/screens/specs/images/finish_silver_large.jpg" alt="Img" class="product-grid__img" />
											</div>
											<div class="product-grid__title">Deep Learning para reconocimiento de imágenes</div>
											<span class="product-grid__level">Intermedio</span>
											<span class="product-grid__btn product-grid__view" style="margin-left: 50px"><i class="fa fa-eye"></i> Ver más</span>
										</div>
									</div>
									<!-- end Single product -->
									
									<div class="product-grid__product-wrapper">
										<div class="product-grid__product">
											<div class="product-grid__img-wrapper">
												<img src="https://images.apple.com/euro/macbook/a/screens/specs/images/finish_silver_large.jpg" alt="Img" class="product-grid__img" />
											</div>
											<span class="product-grid__title">Real-time analytics con Kafka + Spark + MemSQL.</span>
											<span class="product-grid__level">Avanzado</span>
											<span class="product-grid__btn product-grid__view" style="margin-left: 50px"><i class="fa fa-eye"></i> Ver más</span>
										</div>
									</div>
									
									<div class="product-grid__product-wrapper">
										<div class="product-grid__product">
											<div class="product-grid__img-wrapper">
												<img src="https://images.apple.com/euro/macbook/a/screens/specs/images/finish_silver_large.jpg" alt="Img" class="product-grid__img" />
											</div>
											<span class="product-grid__title">Integración de Datos en Near Real Time con Pentaho.</span>
											<span class="product-grid__level">Avanzado</span>
											<span class="product-grid__btn product-grid__view" style="margin-left: 50px"><i class="fa fa-eye"></i> Ver más</span>
										</div>
									</div>
									
									<div class="product-grid__product-wrapper">
										<div class="product-grid__product">
											<div class="product-grid__img-wrapper">
												<img src="https://images.apple.com/euro/macbook/a/screens/specs/images/finish_silver_large.jpg" alt="Img" class="product-grid__img" />
											</div>
											<span class="product-grid__title">Visualización de datos masivos</span>
											<span class="product-grid__level">Principiante</span>
											<span class="product-grid__btn product-grid__view" style="margin-left: 50px"><i class="fa fa-eye"></i> Ver más</span>
										</div>
									</div>
									
									<div class="product-grid__product-wrapper">
										<div class="product-grid__product">
											<div class="product-grid__img-wrapper">
												<img src="" />
											</div>
											<span class="product-grid__title">Proximos cursos</span>
											<span class="product-grid__level"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			
			</div>
		</section>
		
		<!--------------------------- Div Gris con Texto-------------------------------------->
		<section>
			<div class="container-fluid" style="background-color:#999999; padding-top: 40px;padding-bottom: 40px;">
				<div class="row">
					
					<div class="card-body">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md " style="padding-left: 50px" >
									<div class="card-academy" style="alignment: left"  >
										<div class="card-body" align="center" >
											<img  src="../images/logos/academy/clock_purple_icon.png" height="65px">
											<h5 class="card-title-academy">Estudia cuando quieras</h5>
											<p>
												Accedes a los cursos de acuerdo a tu calendario con los horarios más flexibles.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md " style="padding-left: 50px">
									<div class="card-academy">
										<div class="card-body" align="center">
											<img src="../images/logos/academy/case_icon.png" height="65px">
											<h5 class="card-title-academy">Encuentra la mejor formación</h5>
											<p>
												Selecciona el curso que mejor te convenga de acuerdo a tu perfil.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md " style="padding-left: 50px">
									<div class="card-academy">
										<div class="card-body" align="center">
											<img  src="../images/logos/academy/hands_icon.png" height="75px">
											<h5 class="card-title-academy">Aprende de los mejores</h5>
											<p>
												Recibirás clases de algunos de los mejores especialistas.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		
		</section>
		
		<!--------------------------- Secccion Testimonios-------------------------------------->
		
		<div class="container">
			<div class="row mb-4">
				<div class="col-md-12"><h2 class="text-center" style="color: #6b478e; padding-top: 40px; font-weight: bold; font-size: 2.1em">Testimonios</h2></div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="testimonial">
						
						<div class="test-body-block">
							
							<img class="img-fluid test-img" src="../images/logos/academy/test2.png" alt="face1" style="float: left">
							<div class="test-heading" ><p>Verónica Mena</p></div>
							<div class="test-comp">Analista de Datos</div>
							<div class="test-text">Terminé mi primer curso, y quiero ya empezar el segundo, realmente se aprende mucho con los instructores</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-md-4">
					<div class="testimonial">
						<div class="test-body-block">
							<img class="img-fluid test-img" src="../images/logos/academy/test1.png" alt="face2"style="float: left" >
							<div class="test-heading"><p>Rakaka Yises</p></div>
							<div class="test-comp">Soporte técnico</div>
							<div class="test-text">Terminé mi primer curso, y quiero ya empezar el segundo, realmente se aprende mucho con los instructores</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-md-4">
					<div class="testimonial">
						<div class="test-body-block">
							<img class="img-fluid test-img" src="../images/logos/academy/test2.png" alt="face3" style="float: left" >
							<div class="test-heading"><p>Nitu Das</p></div>
							<div class="test-comp">web designer,kaira infoteck</div>
							<div class="test-text">Terminé mi primer curso, y quiero ya empezar el segundo, realmente se aprende mucho con los instructores</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
		
		
		<!----------------------------------- Footer ------------------------------------------------>
		<section>
			<div class="footer-img" style="padding-top: 20px;">
				<div class="container-fluid">
					<footer class="page-footer">
						<div class="row" style="padding-top:25px;">
							<div class="col-md-1"></div>
							<div class="col-md-2">
								<h5 class="font-weight-bold" style="color: white;">APRENDE</h5>
								<ul class="list-unstyled">
									<li>
										<a href="#Cursos" style="color:#C2C2C2">Cursos</a>
									</li>
								
								</ul>
							</div>
							
							<div class="col-md-2">
								<h5 class="font-weight-bold" style="color: white;">PLANES</h5>
								<ul class="list-unstyled">
									<li>
										<a href="" style="color:#C2C2C2">Individual</a>
									</li>
									<li>
										<a href="" style="color:#C2C2C2">Corporativo</a>
									</li>
								</ul>
							</div>
							
							<div class="col-md-2">
								<h5 class="font-weight-bold" style="color: white;">ACERCA DE</h5>
								<ul class="list-unstyled">
									<li>
										<a href="/es/contacto" style="color:#C2C2C2">Contacto</a>
									</li>
									<li>
										<a href="" style="color:#C2C2C2">FAQ</a>
									</li>
								</ul>
							</div>
							
							<div class="col-md-2">
								<h5 class="font-weight-bold" style="color: white;">CONTÁCTANOS</h5>
								<ul class="list-unstyled">
									<li>
										<a href="/es/contacto" style="color:#C2C2C2">Contacto</a>
									</li>
									<li>
										<a href="/es/contacto" style="color:#C2C2C2">Carreras</a>
									</li>
									<li>
										<a href="#!" style="color:#C2C2C2">Casos de Éxito</a>
									</li>
								</ul>
							</div>
						</div>
						
						<!-- Footer de 3 columnas-->
						<div class="footer-direccion">
							<div class="row">
								<div class="col-md-3 m-auto">
									
									<ul class="list-unstyled">
										<li>
											<a href="#" onclick="openLink('https://wwww.handytec.mobi')">
												<img src="../images/logos/handytec_logo_index.svg" height="39px" >
											</a>
										</li>
										<li>
											<p style="color: #C2C2C2">Empresa de Analítica y Big data que
												ha dado un paso adelante con sus
												programas de capacitación en
												Ciencia de Datos.</p>
										</li>
									</ul>
								</div>
								
								<div class="col-md-3 m-auto">
									<br>
									<a style="color:#C2C2C2">Av. República de El Salvador N35-82 y Portugal |Quito, Ecuador|</a>
									<a style="color:#C2C2C2">+593 (02) 224 3559 | contact@handytec.mobi</a>
									</br>
									<br>
									<a style="color:#C2C2C2">©2019 Handytecmobi S.A. Todos los derechos reservados.</a>
									</br>
								</div>
								
								<div class="col-md-3 m-auto">
									<br>
									<div class="row-img">
										<h5 class="font-weight-bold" style="color: white;">Síguenos</h5>
										<img class="zoom" href="#" onclick="openLink('https://www.linkedin.com/company/handytec')"
											 src="../images/logos/linkedin_logo.png" width="30" height="30" alt="LinkedIn"
											 style="cursor: pointer;" onmouseover="hoverLinked(this,'linkedin');" onmouseout="unhoverLinked(this,'linkedin');">
										<img class="zoom" href="#" onclick="openLink('https://twitter.com/handytec')" src="../images/logos/twitter_logo.png"
											 width="30" height="30" alt="Twitter" style="cursor: pointer;" onmouseover="hoverLinked(this,'twitter');"
											 onmouseout="unhoverLinked(this,'twitter');">
										<img class="zoom" href="#" onclick="openLink('https://www.facebook.com/handytec')"
											 src="../images/logos/facebook_logo.png" width="30" height="30" alt="Facebook"
											 style="cursor: pointer;" onmouseover="hoverLinked(this,'facebook');" onmouseout="unhoverLinked(this,'facebook');">
									</div>
								</div>
							
							</div>
						</div>
					
					</footer>
				</div>
			</div>
		</section>
		
		
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
				crossorigin="anonymous"></script>
		<script src="../javascripts/bootstrap.min.js"></script>
		<script src="../javascripts/navcolor.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		
		<script>
            function openLink(link) {
                window.open(link);
            }
            function changeLink(link) {
                window.location.replace(link);
            }
            var searchField = document.getElementById('input-search');
            var searchBtn = document.getElementById('search-btn');
            searchBtn.addEventListener('mouseover', function () {
                searchField.focus();
            });
		</script>
		<script>
            if (!Modernizr.touchevents) {
                function hoverLinked(element, brand) {
                    var src = `../images/logos/${brand}_active_logo.png`
                    element.setAttribute('src', src);
                };
                function unhoverLinked(element, brand) {
                    var src = `../images/logos/${brand}_logo.png`
                    element.setAttribute('src', src);
                };
            } else {
                function hoverLinked(element, brand) {
                    var src = `../images/logos/${brand}_logo.png`
                    element.setAttribute('src', src);
                };
                function unhoverLinked(element, brand) {
                    var src = `../images/logos/${brand}_logo.png`
                    element.setAttribute('src', src);
                };
            }
		
		</script>
</body>

</html>