<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92186899-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92186899-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>e-Academy</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/academy-style.css" rel="stylesheet">
    <link href="../stylesheets/testimonials.css" rel="stylesheet">
    <link href="../stylesheets/products.css" rel="stylesheet">
    <script src="../javascripts/modernizr-custom.js"></script>
    <link id="favicon" rel="icon" href="../images/logos/handytec_icon_bk.ico" type="image/x-icon">
    <link href="../stylesheets/slick.css" rel="stylesheet">
    <link href="../stylesheets/slick-theme.css" rel="stylesheet">
</head>

<body>
    <!--------------------------- NavBar-------------------------------------->
    <section>
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="padding-bottom: 10px;">

            <a href="/" class="navbar-left">
                <img src="../images/logos/academy/e-academy_logo.svg" height="65px">
            </a>
            <!-- boton tipo hamburguesa -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active" style="padding-right: 60px;">
                        <a class="navbar-brand" href="/#Cursos">
                            <img src="../images/logos/academy/cursos_icon.svg" width="65" height="65" alt="Cursos"
                                style="text-decoration-color: black" />
                                <span>Cursos</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="navbar-brand" href="/es/contacto-academy">
                            <img src="../images/logos/academy/plan_corporativo_icon.svg" width="65" height="65" alt="Plan" style="text-decoration-color: black" />
                            <span>Plan Corporativo</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <button href="/es/contacto-academy" onclick="location.href = '/es/contacto-academy';" class="btn login-academy"
                            style="font-weight: bold">Iniciar Sesión</button>
                        <!-- añadir link para el inicio de sesion-->
                    </li>
                </ul>

            </div>
        </nav>
    </section>
    <!--------------------------- Carrousel Principa-------------------------------------->
    <section>
        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="5000">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row" style="background-image: url(../images/logos/academy/Slides-01.png); background-size: cover; width: auto;height: 95vh;">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 m-auto">
                            <div class="card text-center">
                                <div class="card-body" style="text-align: left;">
                                    <h3 class="card-title-dark" style="color:#6b478e">Conviértete en un Científico de Datos</h3>
                                    <p class="card-text" style="padding:30px; text-align: left;font-size: 1.5em;color: #999999;">Programa
                                        Corporativo para entrenar equipos de Ciencia de Datos y Big Data.</p>
                                    <button href="es/contacto-academy" onclick="location.href = '/es/contacto-academy';" class="btn info-academy"
                                        style="font-weight: bold;width: 220px;">Inscribirme Ahora</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="background-image: url(../images/logos/academy/Slides-02.png); background-size: cover; width: auto;height: 95vh;">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 m-auto">
                            <div class="card text-center">
                                <div class="card-body" style="text-align: left;">
                                    <h3 class="card-title-dark" style="color:#6b478e">Refuerza tus habilidades</h3>
                                    <p class="card-text" style="padding:30px; text-align: left;font-size: 1.5em;color: #999999;">Nuestros
                                        cursos avanzados te premitirán especializarte en varias áreas de aplicación del
                                        Data Science.</p>
                                    <button href="#Cursos" onclick="location.href = '#Cursos';" class="btn info-academy"
                                        style="font-weight: bold;width: 220px;">Saber más</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="background-image: url(../images/logos/academy/Slides-03.png); background-size: cover; width: auto;height: 95vh;">
                        <div class="col-md-1"></div>
                        <div class="col-md-6 m-auto">
                            <div class="card text-center">
                                <div class="card-body" style="text-align: left;">
                                    <h3 class="card-title-dark" style="color:white">Aprende a tu propio ritmo</h3>
                                    <p class="card-text" style="padding:30px; text-align: left;font-size: 1.5em;color: white;">Accede
                                        a tus cursos desde cualquier lugar y a cualquier momento.</p>
                                    <button href="#Cursos" onclick="location.href = '#Cursos';" class="btn info-academy-inverted"
                                        style="font-weight: bold;width: 220px;border: none">Saber más</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="background-image: url(../images/logos/academy/Slides-04.png); background-size: cover; width: auto;height: 95vh;">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 m-auto">
                            <div class="card text-center">
                                <div class="card-body" style="text-align: left;">
                                    <h3 class="card-title-dark" style="color:#6b478e">Plan Corporativo</h3>
                                    <p class="card-text" style="padding:30px; text-align: left;font-size: 1.5em;color: #999999;">Entérate
                                        de nuestros programas especiales para empresas.</p>
                                    <button href="/es/contacto-academy" onclick="location.href = '/es/contacto-academy';" class="btn info-academy"
                                        style="font-weight: bold;width: 220px;border: none">Contáctanos</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </section>


    <!--------------------------- Div Morada con Texto-------------------------------------->
    <section>
        <div class="container-fluid" style="background-color:#6B478E; padding-top: 8px;padding-bottom: 8px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="text-align: center;">
                        <div class="col-md-4">
                            <div class="card-subtitle">
                                <div class="card-body">
                                    <img src="../images/logos/academy/ciencia_datos_icon.svg" height="80px">
                                    <div>
                                        <span style="color: white; font-size: 1.2em">Ciencia de Datos Online</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-subtitle">
                                <div class="card-body">
                                    <img src="../images/logos/academy/python_r_icon.svg" height="80px">
                                    <div>
                                        <span style="color: white; font-size: 1.2em">Programa en Python y R</span>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card-subtitle">
                                <div class="card-body">
                                    <img src="../images/logos/academy/carrera_ciencia_icon.svg" height="80px">
                                    <div>
                                        <span style="color: white; font-size: 1.2em">Tu carrera en Ciencia de Datos</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--------------------------- Secccion  Cursos -------------------------------------->
    <section id="Cursos">
        <div class="container-fluid" style="background-color:white; padding-top: 30px;padding-bottom: 20px">

            <div class="row" style="display: block">
                <div class="col-md-5">
                    <p style="color:#6b478e; text-align: left; padding-top: 10px ;padding-bottom: 30px; padding-left: 40px; font-size: 2.1em">Nuestros
                        <span class="bold"> Cursos</span>
                    </p>
                </div>
            </div>

            <div class="row align-items-start " style="display:flex">
                <div class="col-lg-5">
                    <div class="card-subtitle">
                        <p style="font-family: Century Gothic, Muli, sans-serif; font-weight: bold; font-size: 1.4em; padding-left: 40px;color: #5D5D5D">
                            La mejor selección de cursos para que conviertas en un científico de datos.</p>
                        <p style=" padding-left: 40px;color: #999999; font-size: 1.1em;">
                            Contamos con una excelente propuesta de cursos para que te conviertas en un especialista en
                            Analítica y Big Data</p>
                    </div>
                </div>

                <div class="col-lg-7 m-auto ">
                    <div class="content">
                        <!-- content here -->
                        <div class="product-grid product-grid--flexbox" style="height: 100% ;width: 100%">

                            <div class="product-grid__wrapper">

                                <div class="product-grid__product-wrapper">
                                    <div class="product-grid__product">
                                        <div class="product-grid__img-wrapper">
                                            <img src="../images/logos/academy/ciencia_datos_min.jpg" alt="Img" class="product-grid__img" />
                                        </div>
                                        <div class="product-grid__title">Herramientas para ciencia de datos</div>
                                        <div style="margin:10px;">
                                            <span class="product-grid__level">Introductorio</span>
                                        </div>
                                        <span class="product-grid__btn product-grid__view">Ver
                                            más</span>
                                    </div>
                                </div>

                                <div class="product-grid__product-wrapper">
                                    <div class="product-grid__product">
                                        <div class="product-grid__img-wrapper">
                                            <img src="../images/logos/academy/data_viz_min.jpg" alt="Img" class="product-grid__img" />
                                        </div>
                                        <div class="product-grid__title">Introducción a Data Viz con Tableau</div>
                                        <div style="margin:10px;">
                                            <span class="product-grid__level">Introductorio</span>
                                        </div>
                                        <span class="product-grid__btn product-grid__view">Ver
                                            más</span>
                                    </div>
                                </div>

                                <div class="product-grid__product-wrapper">
                                    <div class="product-grid__product">
                                        <div class="product-grid__img-wrapper">
                                            <img src="../images/logos/academy/integracion_datos_min.jpg" alt="Img"
                                                class="product-grid__img" />
                                        </div>
                                        <div class="product-grid__title">Integración de Datos con Pentaho</div>
                                        <div style="margin:10px;">
                                            <span class="product-grid__level">Avanzado</span>
                                        </div>
                                        <span class="product-grid__btn product-grid__view">Ver
                                            más</span>
                                    </div>
                                </div>

                                <div class="product-grid__product-wrapper">
                                    <div class="product-grid__product">
                                        <div class="product-grid__img-wrapper">
                                            <img src="../images/logos/academy/visualizacion_masiva_min.jpg" alt="Img"
                                                class="product-grid__img" />
                                        </div>
                                        <div class="product-grid__title">Visualización de datos masivos.</div>
                                        <div style="margin:10px;">
                                            <span class="product-grid__level">Principiante</span>
                                        </div>
                                        <span class="product-grid__btn product-grid__view">Ver
                                            más</span>
                                    </div>
                                </div>

                                <div class="product-grid__product-wrapper">
                                    <div class="product-grid__product">
                                        <div class="product-grid__img-wrapper">
                                            <img src="../images/logos/academy/deep_learning_min_new.jpg" alt="Img"
                                                class="product-grid__img" />
                                        </div>
                                        <div class="product-grid__title">Deep Learning para reconocimiento de imágenes</div>
                                        <div style="margin:10px;">
                                            <span class="product-grid__level">Principiante</span>
                                        </div>
                                        <span class="product-grid__btn product-grid__view">Ver
                                            más</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>


    <!--------------------------- Div Gris con Texto-------------------------------------->
    <section>
        <div class="container-fluid" style="background-color:#999999; padding-top: 40px;padding-bottom: 40px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-md m-auto">
                            <div class="card-academy">
                                <div class="card-body">
                                    <div style="display:block; text-align: center">
                                        <img src="../images/logos/academy/estudia_icon.svg" height="65px">
                                    </div>
                                    <h5 class="card-title-academy">Estudia cuando quieras</h5>
                                    <p>
                                        Accedes a los cursos de acuerdo a tu calendario con los horarios más flexibles.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md m-auto">
                            <div class="card-academy">
                                <div class="card-body">
                                    <div style="display:block; text-align: center">
                                        <img src="../images/logos/academy/formacion_icon.svg" height="65px">
                                    </div>
                                    <h5 class="card-title-academy">Encuentra la mejor formación</h5>
                                    <p>
                                        Selecciona el curso que mejor te convenga de acuerdo a tu perfil.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md m-auto">
                            <div class="card-academy">
                                <div class="card-body">
                                    <div style="display:block; text-align: center">
                                        <img src="../images/logos/academy/aprende_icon.svg" height="65px">
                                    </div>
                                    <h5 class="card-title-academy">Aprende de los mejores</h5>
                                    <p>
                                        Recibirás clases de algunos de los mejores especialistas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------- Barra con Testimonios Dinamico -------------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left" style="color: #6b478e; padding-top: 40px; font-weight: bold; font-size: 2.1em">Testimonios</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 m-auto" style="padding-left: 60px;padding-right: 60px;padding-bottom: 30px;">
                <div class="brands">

                    <div>
                        <div class="testimonial">
                            <div class="test-body-block">
                                <div class="row">
                                    <div class="col-lg-4 m-auto" style="text-align: center">
                                        <img class="test-img" src="../images/logos/academy/test2.png" alt="face1">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="test-heading">
                                            <p>Verónica Mena</p>
                                        </div>
                                        <div class="test-comp">Analista de Datos</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="test-text">Terminé mi primer curso, y quiero ya empezar el segundo,
                                        realmente se aprende mucho con
                                        los instructores</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="testimonial">
                            <div class="test-body-block">
                                <div class="row">
                                    <div class="col-lg-4 m-auto" style="text-align: center">
                                        <img class="test-img" src="../images/logos/academy/test1.png" alt="face1">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="test-heading">
                                            <p>Luis Castro</p>
                                        </div>
                                        <div class="test-comp">Analista de Datos</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="test-text">Terminé mi primer curso, y quiero ya empezar el segundo,
                                        realmente se aprende mucho con
                                        los instructores</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="testimonial">
                            <div class="test-body-block">
                                <div class="row">
                                    <div class="col-lg-4 m-auto" style="text-align: center">
                                        <img class="test-img" src="../images/logos/academy/test1.png" alt="face1">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="test-heading">
                                            <p>Hubert Farnsworth</p>
                                        </div>
                                        <div class="test-comp">Analista de Datos</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="test-text">Terminé mi primer curso, y quiero ya empezar el segundo,
                                        realmente se aprende mucho con
                                        los instructores</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="testimonial">
                            <div class="test-body-block">
                                <div class="row">
                                    <div class="col-lg-4 m-auto" style="text-align: center">
                                        <img class="test-img" src="../images/logos/academy/test2.png" alt="face1">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="test-heading">
                                            <p>Lisa Vélez</p>
                                        </div>
                                        <div class="test-comp">Analista de Datos</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="test-text">Terminé mi primer curso, y quiero ya empezar el segundo,
                                        realmente se aprende mucho con
                                        los instructores</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!----------------------------------- Footer ------------------------------------------------>
    <section>
        <div class="footer-img" style="padding-top: 20px;">
            <div class="container-fluid">
                <footer class="page-footer">
                    <div class="row" style="padding-top:25px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">APRENDE</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/#Cursos" style="color:#C2C2C2">Cursos</a>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">PLANES</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="" style="color:#C2C2C2">Individual</a>
                                </li>
                                <li>
                                    <a href="" style="color:#C2C2C2">Corporativo</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">ACERCA DE</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/contacto-academy" style="color:#C2C2C2">Contacto</a>
                                </li>
                                <li>
                                    <a href="#" style="color:#C2C2C2">FAQ</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">CONTÁCTANOS</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/contacto-academy" style="color:#C2C2C2">Contacto</a>
                                </li>
                                <li>
                                    <a href="/es/contacto-academy" style="color:#C2C2C2">Carreras</a>
                                </li>
                                <li>
                                    <a href="#" style="color:#C2C2C2">Casos de Éxito</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <!-- Footer de 3 columnas-->
                    <div class="footer-direccion">
                        <div class="row">
                            <div class="col-md-3 m-auto">

                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" onclick="openLink('https://www.handytec.mobi')">
                                            <img src="../images/logos/handytec_logo_index.svg" height="39px">
                                        </a>
                                    </li>
                                    <li>
                                        <p style="color: #C2C2C2; font-size: 0.9em; margin-top: 15px;">Empresa de
                                            Analítica y Big data que ha dado un paso adelante con sus programas de
                                            capacitación en Ciencia de Datos.</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-3 m-auto">
                                <br>
                                <a style="color:#C2C2C2">Av. República de El Salvador N35-82 y Portugal |Quito,
                                    Ecuador|
                                </a>
                                <a style="color:#C2C2C2">+593 (02) 224 3559 | contact@handytec.mobi</a>
                                </br>
                                <br>
                                <a style="color:#C2C2C2">©2019 Handytecmobi S.A. Todos los derechos reservados.</a>
                                </br>
                            </div>

                            <div class="col-md-3 m-auto">
                                <br>
                                <div class="row-img">
                                    <h5 class="font-weight-bold" style="color: white;">Síguenos</h5>
                                    <img class="zoom" href="#" onclick="openLink('https://www.linkedin.com/company/handytec')"
                                        src="../images/logos/linkedin_logo.png" width="30" height="30" alt="LinkedIn"
                                        style="cursor: pointer;">
                                    <img class="zoom" href="#" onclick="openLink('https://twitter.com/handytec')" src="../images/logos/twitter_logo.png"
                                        width="30" height="30" alt="Twitter" style="cursor: pointer;">
                                    <img class="zoom" href="#" onclick="openLink('https://www.facebook.com/handytec')"
                                        src="../images/logos/facebook_logo.png" width="30" height="30" alt="Facebook"
                                        style="cursor: pointer;">
                                </div>
                            </div>

                        </div>
                    </div>

                </footer>
            </div>
        </div>
    </section>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/navcolor.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.brands').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 3000,
                pauseOnFocus: false,
                pauseOnHover: false,
                responsive: [
                    {
                        breakpoint: 1025,
                        settings: {
                            slidesToShow: 2,
                            autoplay: false,
                            autoplaySpeed: 3000,
                            pauseOnFocus: false,
                            pauseOnHover: false
                        }
                    },
                    {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 1,
                            autoplay: false,
                            autoplaySpeed: 3000,
                            pauseOnFocus: false,
                            pauseOnHover: false
                        }
                    }
                ]
            });
        });
    </script>

    <script>
        function openLink(link) {
            window.open(link);
        }
        function changeLink(link) {
            window.location.replace(link);
        }
    </script>


</body>

</html>