<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92186899-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92186899-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="fb:app_id" content="966242223397117">
    <meta name="description" content="Somos una Compañía especializada en ofrecer soluciones de Analítica a la medida. Trabajamos con tecnologías de vanguardia y ayudamos a las empresas a adoptar y explotar el poder transformacional de la Ciencia de Datos, para alcanzar sus más ambiciosos objetivos estratégicos en sus negocios.">
    <meta name="keywords" content="Analítica de Datos, Cognitive computing, Machine Learning, Inteligencia Artificial, Big Data, handytec, HandytecMobi S.A., Big Data Ecuador" />
    <meta name="author" content="Handytecmobi S.A.">

    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    <meta property="og:image" content="https://www.handytec.mobi/images/logos/logo-handytec-1200-1200.png">

    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="620">
    <meta property="og:image" content="https://www.handytec.mobi/images/logos/logo-handytec-1200-620.png">

    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta property="og:image" content="https://www.handytec.mobi/images/logos/logo-handytec-200-200.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@handytec">
    <meta name="twitter:title" content="handytec - Data Analytics">
    <meta name="twitter:description" content="Somos una Compañía especializada en ofrecer soluciones de Analítica a la medida. Trabajamos con tecnologías de vanguardia y ayudamos a las empresas a adoptar y explotar el poder transformacional de la Ciencia de Datos, para alcanzar sus más ambiciosos objetivos estratégicos en sus negocios.">
    <meta name="twitter:creator" content="@handytec">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="https://www.handytec.mobi/images/logos/logo-handytec-1200-620.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="handytec" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.handytec.mobi" />
    <meta property="og:image" content="https://www.handytec.mobi/images/logos/logo-handytec-1200-620.png" />
    <meta property="og:description" content="Somos una Compañía especializada en ofrecer soluciones de Analítica a la medida. Trabajamos con tecnologías de vanguardia y ayudamos a las empresas a adoptar y explotar el poder transformacional de la Ciencia de Datos, para alcanzar sus más ambiciosos objetivos estratégicos en sus negocios." />
    <meta property="og:site_name" content="Handytecmobi S.A." />

    <title>handytec</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/handytec-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../javascripts/modernizr-custom.js"></script>
    <link id="favicon" rel="icon" href="../images/logos/handytec_icon_bk.ico" type="image/x-icon">
    <link href="../stylesheets/slick.css" rel="stylesheet">
    <link href="../stylesheets/slick-theme.css" rel="stylesheet">

</head>

<body>
    <!--Script para manejar el chat dentro de la pantalla-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '333192284120568',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.1'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/es_LA/sdk.js";
            //js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!--------------------------- NavBar + Background Image + Texto Centrado -------------------------------------->
    <section style="min-height: 100vh;">
        <div class="header-img" style="min-height: 100vh;">
            <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-bottom: 15px;">
                <a href="/es" class="navbar-left">
                    <img src="../images/logos/handytec_logo_index.svg" height="39px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/es" onclick="location.href = '/es';">Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/es/nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/es/productos" id="navbarDropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu" style="min-width: 75px;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="/es/productos#helio">helio.geo</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/productos#krypton">krypton.data</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/es/servicios" id="navbarDropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Servicios</a>
                            <div class="dropdown-menu" style="min-width: 75px;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#estrategiaDot8">Estrategia
                                    DOT8</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#BINewGen">BI Nueva
                                    Generación</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/servicios#analiticaAvanzada">Analítica
                                    Avanzada</a>
                                <a class="dropdown-item" style="padding: 8px; " href="/es/academy">handytec Academy</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/es/contacto">Contacto</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a id="es-languaje-dropdown" class="nav-link dropdown-toggle" href="/es" id="navbarDropdown"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="../images/flags/ES.png" alt="ES" /> ES</a>
                            <div id="en-languaje-dropdown" class="dropdown-menu" style="min-width: 75px;"
                                aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" style="padding: 8px; " href="#" onclick="changeLink('/en')">
                                    <img src="../images/flags/US.png" alt="EN" /> EN</a>
                            </div>
                        </li>
                        <li class="search-form">
                            <form role="search" method="get" class="search" action="/es/buscar">
                                <input id="input-search" type="text" name="q" value="" class="search-input search_field_main"
                                    maxlength="50" placeholder="Buscar..">
                                <input id="search-btn" type="submit" class="search-trigger search_submit_main" style="width: 30px; height: 30px;">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="center-main-text">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2 d-none d-lg-block">
                                </div>
                                <div class="col-md-8 m-auto">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h1 class="card-title">The future behind
                                                <span class="bold"> your data</span>
                                            </h1>
                                            <p class="card-text" style="padding:30px; font-size: 1.4em;">Transformamos
                                                la manera en que las organizaciones usan sus datos para tomar
                                                decisiones
                                                estratégicas.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row" style="text-align: center;">
                                            <div class="col-md-2 d-none d-lg-block">
                                            </div>
                                            <div class="col-md-4 m-auto">
                                                <button href="/es/nosotros" onclick="location.href = '/es/nosotros';"
                                                    class="btn default" style="font-weight: bold; margin-bottom:13px;">Conoce
                                                    más</button>
                                            </div>
                                            <div class="col-md-4 m-auto">
                                                <button href="/es/contacto" onclick="location.href = '/es/contacto';"
                                                    class="btn default" style="font-weight: bold; margin-bottom:13px;">Contáctanos</button>
                                            </div>
                                            <div class="col-md-2 d-none d-lg-block">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 d-none d-lg-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------- Barra con Brands Dinámicos -------------------------------------->
    <div class="container-fluid" style="background-color:#1D1D1B;">
        <div class="row">
            <div class="col-md-12" style="padding-left: 35px;padding-right: 35px;">
                <div class="brands">
                    <div><img class="img-responsive-brands" src="../images/logos/farmaenlace_logo.svg" height="75px"
                            alt="Farmaenlace"></div>
                    <div><img class="img-responsive-brands" src="../images/logos/asur_logo.svg" height="75px" alt="Aseguradora del Sur"></div>
                    <div><img class="img-responsive-brands" src="../images/logos/inmedical_logo.svg" height="75px" alt="Inmedical"></div>
                    <div><img class="img-responsive-brands" src="../images/logos/ordenio_logo.svg" height="75px" alt="El Ordeño"></div>
                    <div> <img class="img-responsive-brands" src="../images/logos/seguros_equinoccial_logo.svg" height="75px"
                            alt="Seguros Equinoccial"></div>
                    <div><img class="img-responsive-brands" src="../images/logos/cooprogreso_logo.svg" height="75px"
                            alt="Cooprogreso"></div>
                    <div><img class="img-responsive-brands" src="../images/logos/pinto_logo.svg" height="75px" alt="Pinto"></div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------- Sección usando Cards Bootstrap 3 + Botones -------------------------------------->
    <section>
        <div class="container-fluid" style="background-color:#FFFFFF; padding-top: 60px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2 d-none d-lg-block">
                        </div>
                        <div class="col-md-8 m-auto">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h2 class="card-title-dark">Creamos lo que puedas imaginar</h2>
                                    <p class="card-text-dark" style="padding:30px; padding-bottom: 0;">Productos y
                                        Servicios de Inteligencia de Negocios y Analítica de Datos que solucionan
                                        las problemáticas más complejas a las que te puedas enfrentar. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-none d-lg-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="background-color:#FFFFFF;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1 d-none d-lg-block">
                        </div>
                        <div class="col-md">
                            <div class="card-deck">
                                <div class="card">
                                    <img src="../images/assets/estrategia_icon.svg" height="90px" alt="Estrategia">
                                    <div class="card-body">
                                        <h4 class="card-title-dark" style="text-align: center">ESTRATEGIA</h4>
                                        <p class="card-text-dark" style="text-align: center">Entendemos que la
                                            imaginación debe siempre acompañarse de visión y sentido.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../images/assets/integracion_icon.svg" height="90px" alt="Integracion">
                                    <div class="card-body">
                                        <h4 class="card-title-dark" style="text-align: center">INTEGRACIÓN</h4>
                                        <p class="card-text-dark" style="text-align: center;">Creemos que la mayor
                                            disponibilidad de datos confiables tiene un impacto positivo
                                            en las organizaciones.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../images/assets/escalabilidad_icon.svg" height="90px" alt="Escalabilidad">
                                    <div class="card-body">
                                        <h4 class="card-title-dark" style="text-align: center">ESCALABILIDAD</h4>
                                        <p class="card-text-dark" style="text-align: center;">Confiamos en el
                                            crecimiento y en el poder tecnológico y transformacional de nuestras
                                            soluciones.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 d-none d-lg-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="background-color:#FFFFFF; padding-bottom: 60px;padding-top: 10px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="text-align: center;">
                        <div class="col-md-2 d-none d-lg-block"></div>
                        <div class="col-md-1 d-none d-md-block"></div>
                        <div class="col-md ml-auto">
                            <button href="/es/productos" onclick="location.href = '/es/productos';" class="btn info"
                                style="font-weight: bold; margin-bottom:13px; padding-left: 40px;padding-right: 40px;">Productos</button>
                        </div>
                        <div class="col-md mr-auto">
                            <button href="/es/servicios" onclick="location.href = '/es/servicios';" class="btn info"
                                style="font-weight: bold; margin-bottom:13px; padding-left: 40px;padding-right: 40px;">Servicios</button>
                        </div>
                        <div class="col-md-1 d-none d-md-block"></div>
                        <div class="col-md-2 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----------------------------------- Footer ------------------------------------------------>
    <section>
        <div class="footer-img" style="padding-top: 20px;">
            <div class="container-fluid">
                <footer class="page-footer">
                    <div class="row" style="padding-top:25px;">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">PRODUCTOS</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/helio" style="color:#C2C2C2">helio.geo</a>
                                </li>
                                <li>
                                    <a style="color:#C2C2C2">krypton.data</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">SERVICIOS</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/servicios#estrategiaDot8" style="color:#C2C2C2">Estrategia DOT8</a>
                                </li>
                                <li>
                                    <a href="/es/servicios#BINewGen" style="color:#C2C2C2">BI Nueva Generación</a>
                                </li>
                                <li>
                                    <a href="/es/servicios#analiticaAvanzada" style="color:#C2C2C2">Analítica Avanzada</a>
                                </li>
                                <li>
                                    <a href="/es/academy" style="color:#C2C2C2">handytec Academy</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">TECNOLOGÍA</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/aliados" style="color:#C2C2C2">Aliados</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">CONTÁCTANOS</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es/contacto" style="color:#C2C2C2">Contacto</a>
                                </li>
                                <li>
                                    <a href="/es/contacto" style="color:#C2C2C2">Carreras</a>
                                </li>
                                <li>
                                    <a href="#!" style="color:#C2C2C2">Casos de Éxito</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5 class="font-weight-bold" style="color: white;">SITIO</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/es" style="color:#C2C2C2">Inicio</a>
                                </li>
                                <li>
                                    <a href="/es/nosotros" style="color:#C2C2C2">Nosotros</a>
                                </li>
                                <li>
                                    <a href="/es/productos" style="color:#C2C2C2">Productos</a>
                                </li>
                                <li>
                                    <a href="/es/servicios" style="color:#C2C2C2">Servicios</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <!-- Footer de 3 columnas-->
                    <div class="footer-direccion">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-3 m-auto">
                                <div>
                                    <a href="/es">
                                        <img src="../images/logos/handytec_logo_index.svg" height="39px">
                                    </a>
                                </div>
                                <br>
                                <a style="color:#C2C2C2">© 2018 Handytecmobi S.A. Todos los derechos reservados.</a>
                            </div>

                            <div class="col-md-3 m-auto">
                                <br>
                                <a style="color:#C2C2C2">Av. República de El Salvador N35-82 y Portugal</a>
                                <a style="color:#C2C2C2"> |Quito, Ecuador|</a>
                                <br>
                                <a style="color:#C2C2C2">+593 (02) 224 3559 | contact@handytec.mobi</a>
                            </div>

                            <div class="col-md-3 m-auto">
                                <br>
                                <div class="row-img">
                                    <img class="zoom" href="#" onclick="openLink('https://www.linkedin.com/company/handytec')"
                                        src="../images/logos/linkedin_logo.png" width="30" height="30" alt="LinkedIn"
                                        style="cursor: pointer;" onmouseover="hoverLinked(this,'linkedin');" onmouseout="unhoverLinked(this,'linkedin');">
                                    <img class="zoom" href="#" onclick="openLink('https://twitter.com/handytec')" src="../images/logos/twitter_logo.png"
                                        width="30" height="30" alt="Twitter" style="cursor: pointer;" onmouseover="hoverLinked(this,'twitter');"
                                        onmouseout="unhoverLinked(this,'twitter');">
                                    <img class="zoom" href="#" onclick="openLink('https://www.facebook.com/handytec')"
                                        src="../images/logos/facebook_logo.png" width="30" height="30" alt="Facebook"
                                        style="cursor: pointer;" onmouseover="hoverLinked(this,'facebook');" onmouseout="unhoverLinked(this,'facebook');">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/navcolor.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.brands').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                pauseOnFocus: false,
                pauseOnHover: false,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 3,
                            autoplay: true,
                            autoplaySpeed: 3000,
                            pauseOnFocus: false,
                            pauseOnHover: false
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            autoplay: true,
                            autoplaySpeed: 3000,
                            pauseOnFocus: false,
                            pauseOnHover: false
                        }
                    }
                ]
            });
        });
    </script>
    <script>
        function openLink(link) {
            window.open(link);
        }
        function changeLink(link) {
            window.location.replace(link);
        }
        var searchField = document.getElementById('input-search');
        var searchBtn = document.getElementById('search-btn');
        searchBtn.addEventListener('mouseover', function () {
            searchField.focus();
        });
    </script>
    <script>
        if (!Modernizr.touchevents) {
            function hoverLinked(element, brand) {
                var src = `../images/logos/${brand}_active_logo.png`
                element.setAttribute('src', src);
            };
            function unhoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
        } else {
            function hoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
            function unhoverLinked(element, brand) {
                var src = `../images/logos/${brand}_logo.png`
                element.setAttribute('src', src);
            };
        }

    </script>
</body>

</html>